@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 218, 187);
}

#root {
  min-height: 100vh;
}
